:root {
    --font-family: 'Poppins', sans-serif;
    --main-color: #FFB101;
    --primary-color: #172121;
    --secondary-color: #484848;
    --light-color: #FFF;
    --gray-color: #808080;
    --light-gray-color: #F2F2F2;
    --link-color: #002459;
    --shadow: 0px 0px 10.952px rgba(0, 0, 0, 0.20);
    --gap: 1rem;
    --padding-inline: 5rem;
    --padding-block: 2rem;
    --base-font-size: 1rem;
    --base-line-height: 1.5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
    font-size: var(--base-font-size);
    line-height: var(--base-line-height);
}

a {
    text-decoration: none;
    color: var(--link-color);
}

/* Navbar Section */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    padding: 1rem;
    height: 5rem;
    background-color: var(--light-color);
    color: #fff;
}

.nav_logo {
    width: 3rem;
    margin-left: 1rem;
    height: auto;
}

.menu-icon {
    color: grey;
    display: none;
    cursor: pointer;
    font-size: 2rem;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    padding-block: 1rem;
    flex: 1;
    position: relative;
}

.login-signup-wrapper {
    display: flex;
    align-items: center;
    gap: var(--gap);
    margin-right: var(--padding-inline);
}

.signup {
    background-color: var(--main-color);
    color: var(--light-color);
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.mobile {
    display: none;
}

@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    .nav_link {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: column;
        justify-items: space-between;
        background-color: var(--light-color);
        position: absolute;
        top: 5rem;
        left: 0;
        width: 100%;
        gap: 0.5rem;
        padding: 0;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;
    }

    .navigation.open {
        max-height: 350px;
        z-index: 12;
    }

    .navigation a {
        padding: 1rem;
        text-align: center;
        width: 100%;
    }
}

/* Category Section */

.category {
    padding-inline: var(--padding-inline);
    margin-top: 7rem;
}

.category {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.category-title {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    gap: var(--gap);
}

.category-title h3 {
    font-size: 2.1875rem;
    color: var(--primary-color);
    font-weight: 600;
    line-height: 2.0625rem;
}

.category-title p {
    color: var(--primary-color);
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 2.0625rem;
}

.category-block {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
}

.category-card {
    flex: 0 1 48%;
    max-width: 250px;
    height: auto;
    border-radius: 0.8rem;
    background-color: var(--light-color);
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.20);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap);
    padding: 1rem;
    cursor: pointer;
}

.category-card img {
    max-width: 100%;
}

.category-card-active {
    background: var(--light-gray-color);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25) inset, 3px 3px 9px 2px rgba(77, 77, 77, 0.20);
}

@media screen and (max-width: 768px) {
    .category-card {
        flex: 0 1 100%;
        max-width: 100%;
    }

}

/* Selection Section */

.selection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 7rem;
    padding-inline: var(--padding-inline);
}

.selection-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.selection-title {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.selection-title h3 {
    color: var(--primary-color);
    font-size: 2.15rem;
    font-weight: 600;
    line-height: 2rem;
}

.selection-header p,
.selection-header a {
    color: var(--primary-color);
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 2rem;
}

.selection-header a {
    color: #002459;
}

.selection-block {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 3rem;

}

.selection-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1.5rem;
    width: 48%;
    height: auto;
    border-radius: 0.58669rem;
    background: var(--light-color);
    box-shadow: var(--shadow);
    margin-top: 20px;
}

.selection-card-content {
    display: flex;
    flex-direction: column;
}

.selection-card-content h4 {
    color: #000;
    font-size: 1.2rem;
    font-weight: bold;
    padding-top: 25px;
}

.selection-card-props {
    display: flex;
    gap: var(--gap);
    padding-block: 20px;
}

.selection-card-props-keys {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.keys {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: #858585;
    font-size: 1rem;
    font-weight: 300;
}

.keys-location {
    color: #313131;
    font-size: 0.8rem;
    font-weight: 400;
    margin-top: 1rem;
}

.selection-card-props-values {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    color: var(--secondary-color);
    font-size: 1.2rem;
    font-weight: 400;
}

.value-time {
    color: var(--gray-color);
    font-size: 0.8rem;
    font-weight: 400;
    text-decoration-line: underline;
    margin-top: 1rem;
}

.selection-card-price {
    color: #00B83F;
    font-size: 1.69688rem;
    font-weight: 600;
    padding-top: 20px;
    align-self: flex-start;
}

@media screen and (max-width: 1200px) {
    .selection-card {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .selection-header {
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        text-align: center;
    }

    .selection-block {
        flex-direction: column;
    }

    .selection-card {
        width: 90%;
        flex-direction: column;
        align-items: center;
        padding-block: 1rem;
    }

    .selection-card-price {
        align-self: center;
    }

    .selection-card-props-values {
        font-size: 1rem;
        width: 50px;
    }

    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }

    .selection {
        padding-inline: 0;
    }
}

/* Testimonial Section */

.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 7rem;
    padding-block: var(--padding-block);
}

.testimonial-title {
    color: #000;
    font-size: 2rem;
    font-weight: 500;
    padding-inline: 1rem;
}

.testimonial-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    margin-block: 3rem;
}

.testimonial-navigation img {
    cursor: pointer;
}

.testimonial-block {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.testimonial-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    max-width: 800px;
}

.testimonial-card-edge {
    margin-top: 3rem;
}

.testimonial-card-content {
    width: 100%;
    height: auto;
    background-color: var(--light-color);
    box-shadow: 0px 0px 13px rgba(66, 66, 66, 0.20);
    border-radius: 0.3rem;
    padding: 2rem;
    color: #616161;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}

.active {
    background-color: #002459;
    color: #FFFAFA;
}

.testimonial-client {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.testimonial-client p {
    font-weight: 500;
}

.testimonial-divider {
    margin-top: 5rem;
}

@media screen and (max-width: 768px) {
    .testimonial-navigation {
        display: none;
    }

    .testimonial-block {
        flex-direction: column;
        gap: 2rem;
        padding-inline: 3rem;
    }

    .testimonial-card {
        width: 100%;
        margin-top: 2rem;
    }

    .testimonial-client {
        margin-top: 1rem;
    }
}


@media screen and (max-width: 1200px) {
    :root {
        --base-font-size: 0.9375rem;
    }

    .category-title h3,
    .selection-title h3,
    .testimonial-title {
        font-size: 1.875rem;
    }

    .category-title p,
    .selection-header p,
    .selection-header a,
    .testimonial-card-content {
        font-size: 1.125rem;
    }
}

@media screen and (max-width: 768px) {
    :root {
        --base-font-size: 0.875rem;
    }

    .category-title h3,
    .selection-title h3,
    .testimonial-title {
        font-size: 1.625rem;
    }

    .category-title p,
    .selection-header p,
    .selection-header a,
    .testimonial-card-content {
        font-size: 1rem;
    }
}

@media screen and (max-width: 480px) {
    :root {
        --base-font-size: 0.8125rem;
    }

    .category-title h3,
    .selection-title h3,
    .testimonial-title {
        font-size: 1.375rem;
    }

    .category-title p,
    .selection-header p,
    .selection-header a,
    .testimonial-card-content {
        font-size: 0.875rem;
    }
}