:root {
    --font-family: 'Poppins', sans-serif;
    --main-color: #FFB101;
    --primary-color: #172121;
    --secondary-color: #484848;
    --light-color: #FFF;
    --gray-color: #808080;
    --light-gray-color: #F2F2F2;
    --link-color: #002459;
    --shadow: 0px 0px 10.952px rgba(0, 0, 0, 0.20);
    --gap: 1rem;
    --padding-inline: 5rem;
    --padding-block: 2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

a {
    text-decoration: none;
    color: var(--link-color);
}

.navbar {
    display: flex;
    justify-content: center;
    padding: 1rem;
    height: 5rem;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    padding-block: 1rem;
    flex: 1;
    position: relative;
}

.login-signup-wrapper {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: var(--gap);
    margin-right: var(--padding-inline);
}

.signup {
    background-color: var(--main-color);
    color: var(--light-color);
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.category,
.selection-header,
.selection-block {
    padding-inline: var(--padding-inline);
    margin-top: 7rem;
}

.category {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.category-title {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    gap: var(--gap);
}

.category-title h3 {
    font-size: 2.1875rem;
    color: var(--primary-color);
    font-weight: 600;
    line-height: 2.0625rem;
}

.category-title p {
    color: var(--primary-color);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 2.0625rem;
}

.category-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: var(--padding-block);
    gap: 3rem;
    flex-wrap: wrap;
}

.category-card {
    width: 14rem;
    height: 10rem;
    border-radius: 0.8rem;
    background-color: var(--light-color);
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.20);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap);
}

.category-card-active {
    background: var(--light-gray-color);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25) inset, 3px 3px 9px 2px rgba(77, 77, 77, 0.20);
}

.selection {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    padding-block: var(--padding-block);
}

.selection-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.selection-title {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.selection-title h3 {
    color: var(--primary-color);
    font-size: 2.15rem;
    font-weight: 600;
    line-height: 2rem;
}

.selection-header p,
.selection-header a {
    color: var(--primary-color);
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 2rem;
}

.selection-header a {
    color: #002459;
}

.selection-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.selection-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1.5rem;
    width: 650px;
    height: 250px;
    border-radius: 0.58669rem;
    background: var(--light-color);
    box-shadow: var(--shadow);
    gap: var(--gap);
    margin-top: 35px;
}

.selection-card-content {
    display: flex;
    flex-direction: column;
}

.selection-card-content h4 {
    color: #000;
    font-size: 1.2rem;
    font-weight: bold;
    padding-top: 25px;
}

.selection-card-props {
    display: flex;
    gap: var(--gap);
    padding-block: 20px;
}

.selection-card-props-keys {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.keys {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: #858585;
    font-size: 1rem;
    font-weight: 300;
}

.keys-location {
    color: #313131;
    font-size: 0.8rem;
    font-weight: 400;
    margin-top: 1rem;
}

.selection-card-props-values {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    color: var(--secondary-color);
    font-size: 1.2rem;
    font-weight: 400;
}

.value-time {
    color: var(--gray-color);
    font-size: 0.8rem;
    font-weight: 400;
    text-decoration-line: underline;
    margin-top: 1rem;
}

.selection-card-price {
    color: #00B83F;
    font-size: 1.69688rem;
    font-weight: 600;
    padding-top: 20px;
    align-self: flex-start;
}

.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 7rem;
    padding-block: var(--padding-block);
}

.testimonial-title {
    color: #000;
    font-size: 2rem;
    font-weight: 500;
}

.testimonial-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    margin-block: 3rem;
}

.testimonial-block {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.testimonial-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.testimonial-card-edge {
    margin-top: 3rem;
}

.testimonial-card-content {
    width: 27rem;
    height: 12rem;
    background-color: var(--light-color);
    box-shadow: 0px 0px 13px rgba(66, 66, 66, 0.20);
    border-radius: 0.3rem;
    padding: 2rem;
    color: #616161;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}

.active {
    background-color: #002459;
    color: #FFFAFA;
}

.testimonial-client {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.testimonial-client p {
    font-weight: 500;
}

.testimonial-divider {
    margin-top: 5rem;
}